# Unreal Engine
Binaries/
Content/*
!Content/Tales/
Content/Tales/*
!Content/Tales/Tasks/
!Content/Tales/Tasks/*.uasset
DerivedDataCache/
Intermediate/
Saved/
Build/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.code-workspace

# Rider/VS
.vs/
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
